.search-box {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    border-radius: 6px;
    width: 35%;
    background-color: white;
    line-height: 30px;
    margin-bottom: 50px;
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    opacity: 50%;
  }
  
  .search-input {
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: none;
    width: 100%;
    outline: none;
    margin-left: 15px;
  }
  
  .search-input::placeholder {
    width: 120px;
    height: 120px;
    margin: 150px;
    opacity: 50%;
  }
  